.container {
    max-width: 736px;
    margin: auto;
    position: relative;
}

.inputTextContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    position: absolute;
    top: -26px;
    width: 100%;
}

.inputText {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--gray-500);
    border: 1px var(--gray-700);
    border-style: solid;
}

.inputText::placeholder {
    color: var(--gray-300);
}

.inputTextContainer button {
    cursor: pointer;
    padding: 1rem;
    background-color: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    border: 1px var(--gray-700);
    border-style: solid;
}

.inputTextContainer button:hover {
    background-color: var(--blue);
}

.tasksContainer {
    width: 100%;
}

.tasksContainer header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0rem 1rem 0;
    font-size: 0.875rem;
    font-weight: bold;
}

.createdTasks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.createdTasks p {
    color: var(--blue);
}

.createdTasks span {
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
}

.completedTasks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.completedTasks p {
    color: var(--purple);
}

.completedTasks span {
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .inputTextContainer {
        gap: 0.3rem;
        padding: 0 0.4rem;
    }
}

@media screen and (max-width: 768px) {
    .tasksContainer {
        padding: 0 0.4rem;
    }
}